<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/addedproduct" method="post" >
        <table>
            <tr>
                <td>pname</td>
                <td><input type="text" name="nm"></td>
            </tr>
            <tr>
                <td>price</td>
                <td><input type="text" name="nm1"></td>
            </tr>
            <tr>
                <td>quantity</td>
                <td><input type="text" name="nm3"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">submit</button></td>
            </tr>
        </table>
    </form>
</body>
</html>