<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="2">
    <tr>
        <td>pname</td>
        <td>price</td>
        <td>quantity</td>
    </tr>
    <% for(var i=0;i<m1.length;i++){%>
        <tr>
            <td><%= m1[i].pname %></td>
        </tr>    
        <%
        }%>
</table>
</body>
</html>